
.soporteSemaforo{


    background: black;

}


.colorVerde {

 background: green;
     width:80px;
  height:80px;
  border-radius:50%
  
}

.colorAmarillo {

 background: rgb(251, 255, 0);
     width:80px;
  height:80px;
  border-radius:50%
  
}


.colorRojo{
     background: red;
     width:80px;
  height:80px;
  border-radius:50%
  
}

 .resplandor{
	box-shadow: 0 0 25px 10px rgba(255,255,255,0.8);
}